<%- include("partials/header"); -%>
    <h1 style="color: brown">Kisan Suvidha</h1>
    <section class="main">
      <div class="btn-back">
        <button class="previous" id="btn_previous" onclick="location.href='/pmkisan';"><</button>
        <h1 style="color: brown"> <b>PM-KISAN ></b> <small>Helpline</small></h1>
      </div>
      <div class="box">
        <div>
          <button type="button" name="button" class="btn btn-primary btn-lg item-helpline">HelpDesk</button>
        </div>
        <div class="elmt">
           <div class="elmt-box">
             <h3><i class="fas fa-phone fa-rotate-90"></i>  Helpline No. <a href="#"> 011-24300606</a></h3>
           </div>
           <div class="elmt-box">
             <a href="#">Help-desk</a>
           </div>
        </div>
      </div>
    </section>
    <script src="https://kit.fontawesome.com/fcbae53118.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/1.0.0/speechkitt.min.js"></script>
    <script src="/js/contactUs.js"></script>
<%- include("partials/footer"); -%>
