<%- include("partials/header"); -%>
    <h1 style="color: brown">Kisan Suvidha</h1>
    <section class="main">
      <div class="btn-back">
        <button class="previous" id="btn_previous" onclick="location.href='/pmkisan';"><</button>
        <h1 style="color: brown"> <b>PM-KISAN ></b> <small>FAQ</small></h1>
      </div>
      <div class="box">
          <h1>The FAQ pdf will be displayed in this page.</h1>
      </div>
    </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/1.0.0/speechkitt.min.js"></script>
<%- include("partials/footer"); -%>
